.navigation {
  // we are using the checkbox hack for this menu
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem; // because background is 6.5rem, need to account for the extra 1rem
    right: 6rem;
    border-radius: 50%;
    z-index: 2000; // needs to be on top of background
    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
    text-align: center; // to centre menu icon
    cursor: pointer;

    // adjusting menu on mobile devices so it is more in line with logo
    @include respond(tab-port) {
      top: 4rem;
      right: 4rem;
    }
    @include respond(phone) {
      top: 3rem;
      right: 3rem;
    }
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    // adjusting menu on mobile devices so it is more in line with logo
    @include respond(tab-port) {
      top: 4.5rem;
      right: 4.5rem;
    }
    @include respond(phone) {
      top: 3.5rem;
      right: 3.5rem;
    }
    // radial gradient goes from the inside to out
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    z-index: 1000; // so it stays on top all the time but behind menu and links
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }
  // we want this to cover entire screen
  &__nav {
    height: 100vh;
    position: fixed; // so even if we scroll navigation stays where it is
    top: 0;
    right: 0; // doesnt matter if left or right as it covers entire width anyway
    z-index: 1500; // needs to be in between background and menu
    // opacity 0 so nav links do not appear on page till menu is clicked
    opacity: 0;
    // width 0 because links still can be clicked even though you cannot see them
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  &__list {
    // centre linkis in middle
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; // stops weird transition where menu items go right and then top when dissapearing
  }
  &__item {
    margin: 1rem;
  }
  &__link {
    &:link,
    &:visited {
      display: inline-block; // remember display so padding etc. gets applied
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem; // less padding on top then sides is always better look
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      // background size here will move the
      // background to the right out of sight
      // until hovered on
      background-size: 230%;
      transition: all 0.4s;
    }
    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(2rem);
    }
  }
  // ---WHEN MENU IS CLICKED---
  // same as radio button hack in booking section
  // using sibling selector here
  &__checkbox:checked ~ &__background {
    transform: scale(80); // background covers screen
  }
  // Links become visible
  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }
  // MENU ICON
  &__icon {
    position: relative;
    margin-top: 3.5rem;
    &,
    &::before,
    &::after {
      width: 3rem;
      display: inline-block;
      height: 2px;
      background-color: $color-grey-dark-3;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }
    // positioning of top and bottom menu icon bits
    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }
  // animation for when button is hovered on
  &__button:hover &__icon::before {
    top: -1rem;
  }
  &__button:hover &__icon::after {
    top: 1rem;
  }
  // when button is clicked (checkbox checked) animation
  &__checkbox:checked + &__button &__icon {
    // middle bit becomes transparent
    background-color: transparent;
  }
  // to make cross we need to move other bits back to middle so 'top: 0'
  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(
      135deg
    ); // 135deg instead of 45 wo make the animation look better, same effect but more rotation
  }
  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
