.composition {
  // we set composition to relative as it is parent
  position: relative; // so photos can use this for ref on postioning
  &__photo {
    width: 55%; // always define width of images in % for responsiveness
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10; // this changes on hover the picture goes on top of the others
    transition: all 0.3s ease-in-out;
    outline-offset: 2rem; // adds space between offset and image

    @include respond(tab-port) {
      float: left;
      position: relative; // to get float to work
      width: 33.333333%; //so they each can fit on one row
      box-shadow: 0 1.5rem 3rem rgba($color-black, 0.2);
    }

    &--p1 {
      left: 0;
      top: -2rem;
      @include respond(tab-port) {
        top: 0;
        transform: scale(1.2);
      }
    }

    &--p2 {
      right: 0;
      top: 2rem;
      @include respond(tab-port) {
        top: 0;
        transform: scale(1.3);
        z-index: 50; // middle on top
      }
    }

    &--p3 {
      left: 20%;
      top: 10rem;
      @include respond(tab-port) {
        top: 1rem;
        left: 0;
        transform: scale(1.1);
      }
    }

    &:hover {
      outline: 1.5rem solid $color-primary; // using this instead of border as we can use offset borders cannot
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }
  }

  // selects photo in composition that is not hovered
  &:hover &__photo:not(:hover) {
    transform: scale(0.95); // non-hovered pictures get smaller
    opacity: 0.4;
  }
}
