.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    // by default everything inherits font properties apart from inputs
    font-family: inherit; // inherit font family from parent
    color: inherit;
    padding: 1.5rem 2rem; // better to give inputs more padding on sides looks better
    border-radius: 2px;
    background-color: rgba($color-white, 0.5);
    border: none;
    // border on focus has 3px, we need to add transparent here to
    // stop the second input box moving on focus
    border-bottom: 3px solid transparent;
    width: 90%;
    // to get label to appear below input
    display: block;
    transition: all 0.3s;

    &:focus {
      outline: none; // gets rid of blue outline on input
      // for accessibility we need to have some sort of outline for focused inputs
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-primary;

      // if input is invalid the border colur is different
      &:invalid {
        border-bottom: 3px solid $color-secondary-dark;
      }
    }

    // this only works on safari and chrome
    &::-webkit-input-placeholder {
      // changes colour of input placeholder text
      color: $color-grey-dark-2;
    }
  }

  // label is hidden till user types
  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem; // to get it aligned with input text above
    margin-top: 0.7rem;
    display: block; // so we can use box model properties on this element
    transition: all 0.3s;
  }

  // when we can see placeholder text of input
  &__input:placeholder-shown + &__label {
    // as label is a sibling not a child we have to use 'sibling selector'
    // in this case we use '+' adjacent sibling selector
    // sibling always has to come after in HTML
    opacity: 0;
    visibility: hidden; // so element does not appear on page when not needed
    // we do opacity here so we can also animate
    transform: translateY(-4rem);
  }
}
