.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  // added transparent effect to see video behind card
  background-color: rgba($color-white, 0.5);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  @include respond(tab-port) {
    // squares take up entire width and removed padding for tablets/mobiles
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond(phone) {
    // getting rid of skewing for mobile devices
    transform: skewX(0);
  }

  // picture of person, circle
  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    // this is to shape the text into a cirle on the laft
    // this only works if the element is floated, has defined
    // height and width
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%); // circle('radius' at 'posX' 'posY');
    // now shape the shape into a circle
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    // best way to move around an element that is floated is not to mess
    // around with margins etc. Better to use transform: translate();
    transform: translateX(-3rem) skewX(12deg);
    position: relative; // for positioning of caption

    @include respond(phone) {
      // getting rid of skewing for mobile devices
      transform: translateX(-3rem) skewX(0);
    }
  }
  &__img {
    // because inside shape with defined width we can use 100%
    // but in this case width is bigger than height so we use height: 100%;
    height: 100%;
    // scale 1.4 so when hovered on pic gives zoomout effect
    transform: translateX(-4rem) scale(1.4); // translateX to centre image in circle
    transition: all 0.5s;
  }
  &__text {
    transform: skewX(12deg);
    @include respond(phone) {
      // getting rid of skewing for mobile devices
      transform: skewX(0);
    }
  }
  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    // move element where it is now and not in relation to parent
    transform: translate(-50%, 20%);
    color: $color-white;
    font-size: 1.7rem;
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
    // removes glitch of the animation shaking to right/left at end
  }
  // move figure caption when card is hovered on
  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    // add filter to image, brightnesss > 100% brighter // brightness < 100% dimmer
    filter: blur(3px) brightness(80%);
  }
}
